<div class="d-flex vh-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Asab</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
            <a class="nav-link" href="#">A propos</a>
            <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
        </header>

        <main class="px-3">
        <h1>Bienvenue chez Asab-Platforme</h1>
        <p class="lead">
            Abas propose différents services informatiques, des serveurs de stockage
            aux applications Saas. Profiter pleinement des opportunités!
        </p>
        <p class="lead">
            <!-- <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Se connecter</a> -->
            <a
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            (click)="login()"
            >Se connecter</a
            >
        </p>
        </main>

        <footer class="mt-auto text-white-50">
        <p>
            
            <a href="#" class="text-white">Asab</a>, by
            <a href="#" class="text-white">asab</a>.
        </p>
        </footer>
    </div>
</div>

